.base {
  color: rgb(0, 0, 1);
}

.base .nested {
  color: rgb(0, 0, 2);
}

span > span > span {
  color: rgb(0, 0, 3);
}

:--component__element {
  color: rgb(0, 0, 4);
}

:--component__element--variant {
  color: rgb(0, 0, 5);
}
